.animeLeft {
  opacity: 0;
  transform: scale(0.8);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

button {
  background-color: #ffb4a2;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  align-content: center;
  cursor: pointer;
}

button:focus::after {
  border-color: #e5989b;
}

button:focus::before {
  border-color: #e5989b;
}

button:active {
  border-color: #e5989b;
}

.animation-main-container {
  text-align: center;
  margin-top: 20vh !important;
}

body {
  background-color: #e9edc9;
  align-content: center;
}
